// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyDyEQiuBuRuT35UZsTEaxDmTnZ0mdxIpo4",
  authDomain: "social-media-app-51ae5.firebaseapp.com",
  projectId: "social-media-app-51ae5",
  storageBucket: "social-media-app-51ae5.firebasestorage.app",
  messagingSenderId: "939364211725",
  appId: "1:939364211725:web:926b9c1fedc4eb3a0d8944",
  measurementId: "G-31ZF9YMMW0"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);